@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrap {
    background-color: #E5E5E5;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #F13C6E;
}

.bg-color {
    background-color: white;
}

hr {
    border: 1px solid #EFEFEF
}





.header-nav,
.header-nav-service {
    flex-direction: row;
    justify-content: center;
    padding: 17px 0 16px;
    gap: 30px;
}

.header-link {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

.feedback {
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.logo {
    align-items: center;
    padding: 20px 0 20px;
    gap: 20px;
}

.contact {
    align-items: center;
    gap: 40px;
    margin-right: 15px;
}

.h1 {
    color: #F13C6E;
    font-weight: 700;
    font-size: 36px;
}

.feedback-call {
    padding: 10px 20px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
}

.number {
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.header-nav-service {
    padding: 30px 0 30px;
    gap: 40px;
}

.header-link-service {
    font-weight: 400;
    font-size: 16px;
    color: black;
}





.main {
    min-height: calc(100vh - 200px);
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.banner-txt-btn {
    max-width: 308px;
}

.h2,
.img-txt {
    margin-bottom: 40px;
    color: white;
}

.h2 {
    font-weight: 700;
    font-size: 48px;
}

.img-txt {
    font-weight: 400;
    font-size: 14px;
}

.img-btn {
    padding: 5px 30px;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
}







.h3 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 700;
    margin-top: 40px;
}

.cards {
    flex-direction: row ;
    margin: 0 auto;
    gap: 15px;
}

.card-item {
    max-width: 248px;
    min-height: 363px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    list-style: none;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt-center {
    text-align: center;
}

.h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 21px;
}

.box-btn {
    border: 3px solid #F13C6E;
    padding: 5px 25px;
    color: white;
    background-color: #F13C6E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-weight: 400;
    font-size: 14px;
}






.flex-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.pink-card {
    background-color: #F13C6E;
    list-style: none;
    width: 100%;
    max-width: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.card-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.card-head {
    color: white;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}

.pink-card-txt {
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.input-email {
    background: #FFFFFF;
    border-radius: 30px;
    color: #C4C4C4;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 7px 30px;
    border: none;
    max-width: 225px;
    width: 100%
}








.impuls-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.logo-impuls {
    border: 1px solid #EFEFEF;
    padding: 20px 25px 20px 25px;
    align-items: center;
    background-color: white;
    text-align: center;
    width: 260px;
}

.impuls-img {
    max-width: 150px;
    width: 100%;
}






.categories {
    padding: 60px 0 60px;
}

.categories-wrap {
    gap: 30px;
}

.categories-list {
    width: calc(25% - 40px);
    min-width: 100px;
    margin-left: 15px;
}

.h5-footer {
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
}

.categories-item {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    gap: 20px;
}

.popular {
    font-weight: 400;
    font-size: 12px;
    color: #828282;
}

.popular:hover {
    color: #F13C6E;
}








.footer-middle {
    justify-content: space-between;
    gap: 40px;
    padding: 37px 0 38px;
}

.footer-nav {
    align-items: center;
    gap: 20px;
}

.footer-link {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F13C6E;
    border-radius: 50%;
}






.privacy-policy {
    justify-content: space-between;
    gap: 40px;
    padding: 25px 0 25px;
    margin-right: 15px;
}

.footer-txt {
    font-weight: 400;
    font-size: 12px;
    color: #828282;
}

